[Unit]
Description=prak robota
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target


[Service]
ExecStart=java -jar /opt/sample/service.jar
Environment="PORT=8888"
User=bilous_karina
Restart=always
RestartSec=10

